.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0px 150px;
}
img{
    width: 500px;
    height: 300px;
}

.about-container{

    margin-top: 90px;
    padding-left: 20px;
}
.about-left{
    margin-bottom: -180px;
}
.about-container h1{
    text-align: center;
}
.about-container h1{
    text-align: center;
}